<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <H1>{{title}}</H1>
        
    </main>
    

    {{>footer}}
</body>

</html>